
@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

  /* play-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v22-latin-600.woff2') format('woff2');
}

html {
    margin: 0;
    padding: 0;
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-toxic: #3dc23d;
}

body {
    font-family: 'Play';
    background-color: #fff;
    color: #000;
    height: 100vh;
    font-weight: 400;
    margin: 0;
    padding: 0;
    
}

main {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.form-container {
    background: #e0f7e0;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.hero-h2 {
    text-align: center;
    background: #c0f0c0;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
    min-height: 80px;
}

.full-width {
    grid-column: span 2;
}

.submit-btn {
background-color: #32CD32;
color: #ffffff;
font-weight: 600;
border: none;
padding: 15px 20px;
cursor: pointer;
border-radius: 25px;
font-size: 16px;
border: 2px solid transparent;
transition: all 0.3s ease;
}

.submit-btn:hover {
color: #32CD32;
background: rgba(224, 248, 226, 0.829);
border-color: #20b820;
}

.button {
    padding-top: 12px;
    display: block;
    margin: 0 auto;
}

.form-link {
    text-underline-offset: 2px;
    color: #218838;

}

.login-link {
    margin-bottom: 10px;
    text-align: center;
}

.register {
    margin-bottom: 15px;
}

.p-login {
    text-align: center;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

.container {
    max-width: 1288px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;
    
}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #32CD32;
}

.link {
    color: black;
    line-height: 1.5;
    text-decoration: none;
    transition: color 0.3s;
}

ul {
    list-style-type: none;
}

.link:hover {
    color: #3dc23d;
    font-weight: 900;
    transform: scale(1.05);
}

nav ul {
    list-style: none;
    display: block;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.auth a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-left: 10px;
}

main {
    text-align: center;
    padding: 100px 20px;
}

.hero {
    padding: 272px 0;
    background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0.4) 100%), url('/images/hero-photo.jpg') ;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero h1 {
    font-size: 80px;
    color: #32CD32;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
}

.hero p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.cta {
    background-color: #ffffff;
    padding: 50px;
    margin-top: 50px;
    border-radius: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.cta h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.cta p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}

.cta button {
    background-color: #32CD32;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid transparent;
    transition: all 0.3s ease;

}

.cta button:hover {
    color: #32CD32;
    background: rgba(224, 248, 226, 0.829);
    border-color: #20b820;
}

.cta .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-btn-open {
    background: #32CD32;
    color: #fff;
    width: 60%;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    align-self: center;
    margin-top: 50px;
    transition: 0.3s, transform 0.2s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 50px auto 0 auto;
}

.help-btn:hover {
    background: #24c92d;
    transform: scale(1.05);
}

.help-btn:active {
    transform: scale(0.95);
}

.faq {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.faq-h1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
}

/* Ліва колонка (меню) */
.faq-menu {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #F8F9FA;
    padding: 20px;
    border-radius: 10px;
}

.faq-menu button {
    background: white;
    border: 1px solid #E0E0E0;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.faq-menu button.active {
    background: #E8F0FE;
    border-color: #C5D7F5;
}

/* Права колонка (запитання) */
.faq-list {
    flex: 1;
}

.faq-item {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.faq-question {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    display: none;
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

.faq-section {
    display: none; /* Приховуємо всі секції */
}

.faq-section.active {
    display: block; /* Показуємо тільки активну секцію */
}

.faq-btn {
    padding: 10px 15px;
    border: none;
    background: #f0f0f0;
    cursor: pointer;
}

.faq-btn.active {
    background: #cce5ff;
}

/* Додаємо стрілку */
.faq-question::after {
    content: "▼";
    font-size: 14px;
    color: #888;
    transition: transform 0.3s;
}

.faq-item.open .faq-question::after {
    transform: rotate(180deg);
}

.faq-item.open .faq-answer {
    display: block;
}

.platform-possibilities {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}

.platform-possibilities h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
}

.cards-container {
    flex-basis: calc((100% - 40px) / 2);
    justify-content: center;
    gap: 55px;
    flex-wrap: wrap;
    display: flex;
}

.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    text-align: left;
    padding-bottom: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    font-size: 1.5em;
    margin: 20px;
    font-weight: bold;
    color: #000;

}

.card p {
    font-size: 1em;
    margin: 0 20px 20px;
    color: #555;
    font-family: 'Play';
    font-weight: 400;
}

.card-foto {
    width: 850px;
    height: 250px;
    width: 100%;
    display: block;
}

.footer-container {
    display: flex;
    gap: 20px;
    
}

.footer-nav, .footer-address {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
}

.footer-logo, .footer-menu  {
    flex-grow: 1;
}

.footer-link {
    color: #caf1ca;
    line-height: 1.5;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #32CD32;
    font-weight: 1000;

}

.adsress-list, .adsress-info {
    flex-grow: 1;
}

.address-link {
    font-size: 16px;
    font-weight: 300;
    color: #caf1ca;
    text-decoration: none;
}

.address-link:hover {
    color: #32CD32;

}

.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-brand);
}

.address-copyright {
    font-size: 14px;
    color: #caf1ca;
}

.footer {
    position: relative;
    padding: 32px 0;
    background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0.4) 100%), url(/images/footer-tr.jpg);
    margin-top: 40px;
}




/* ПРО НАС */
.about-us {
    font-family: Arial, sans-serif;
    padding: 50px 20px;
    text-align: center;
    background: #ffffff;
}

h2 {
    font-size: 34px;
    font-weight: bold;
    color: black;
    margin-bottom: 40px;
}

/* Блок "Що таке волонтерська платформа?" */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 100px;
}

.about-text {
    flex: 1;
}

.about-text h3 {
    font-size: 26px;
    color: black;
    margin-bottom: 15px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    color: black;
    margin-bottom: 10px;
}
.about-text .accent {
    color: var(--color-toxic);
    font-weight: 600;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

/* Наші цінності */
.values {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.values-h1{
    font-weight: 700;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.values-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}

.value-item {
    flex: 1;
    background: #f4faf4;
    padding: 20px;
    border-radius: 10px;
}

.value-item h4 {
    font-size: 22px;
    color: black;
}


.how-we-work {
    padding: 50px 20px;
    text-align: center;
    border-radius: 10px;
}

.how-we-work h2 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.step {
    flex: 1;
    min-width: 250px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;

}

.step:hover {
    transform: translateY(-5px);
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.step h3 {
    font-size: 22px;
    color: #4bdd37;
}

.step p {
    font-size: 18px;
    color: #444;
}


@media (max-width: 768px) {
    .about-section, .values-list {
        flex-direction: column;
        text-align: center;
    }
}

/* Контакти */
.contacts-container {
    max-width: 800px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cont-container {
    max-width: 1100px;
    margin: 30px auto;
    background: white;
    padding: 20px;

}

.contacts-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-bottom: 40px;
}

.section-title {
    font-size: 28px;
    color: black;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    background: #c0f0c0;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.section-title-text {
    font-size: 27px;
    color: black;

}

.section-text {
    font-size: 16px;
    line-height: 1.5;
}

.contact-info a,
.support a {
    color: var(--color-toxic);
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 40px;
}

.social-share {
    text-align: center;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon {
    display: inline-block;
    background: var(--color-toxic);
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 25px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.social-icon:hover {
    color: #32CD32;
    background: rgba(224, 248, 226, 0.829);
    border-color: #20b820;
}




/* ПОДІЇЇ */
h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.events-container {
    max-width: 85%;
    min-height: 250px;
    margin: 50px auto;
    border: 1px solid var(--color-toxic);
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}

.events-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.event-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-content {
    padding: 20px;
}

/* ФІЛЬТРАЦІЯ ПОДІЙ ЗА КАТЕГОРІЯМИ */
.filter-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

#category-filter {
    padding: 10px;
    border: 2px solid #20b820;
    border-radius: 8px;
    background: #f8f9fc;
    font-size: 16px;
    color: #333;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: 20px;
}

#category-filter:hover {
    border-color: #32CD32;
    background: #e7efff;
}

#category-filter:focus {
    border-color: #32CD32;
    background: #fff;
    outline: none;
}

#category-filter option {
    padding: 10px;
    background: white;
    color: #333;
}

.events-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    transition: opacity 0.3s ease-in-out;
    justify-content: center;
}

.event-card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    max-width: 80%;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}




.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.modal {
    position: relative;
    padding: 54px;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    background-color: #e0f7e0;
    border-radius: 32px;
    overflow-y: auto;
    
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.modal-btn-close img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
}

.modal-btn-close:hover img {
    opacity: 0.7;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal::-webkit-scrollbar {
    width: 10px;
    height: 15px;
}

.modal::-webkit-scrollbar-thumb {
    background: #faf4f4;
    border-radius: 15px;
}

.modal::-webkit-scrollbar-thumb:hover {
    background: #fffcfc;
}



