<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакти</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-container">
                <div class="logo">HANDY</div>
             <nav class="header-nav">
                     <ul class="header-menu">
                        <li><a class= "link" href="/index.html">Головна</a></li>
                        <li><a class= "link" href="/eventList.html">Події</a></li>
                        <li><a class= "link" href="/about-us.html">Про нас</a></li>
                        <li><a class= "link" href="/contact.html">Контакти</a></li>
                     </ul>
                </nav>
                <div class="auth">
                    <a class= "link" href="login.html" id="login-btn"  >Увійти</a> | <a class= "link" href="/register-form.html" id="register-btn">Зареєструватись</a> 
                    <a class="link" id="logout-btn" href="#" style="display: none;">Вихід</a>
                    <a class= "link" href="userProfile.html" id="profile-btn" style="display: none;" >Профіль </a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <!-- <div class="contacts-container"> -->
            <!-- <h1 class="contacts-title">Контакти</h1> -->
             <div class="cont-container">
                <section class="about-platform">
                    <h2 class="section-title-text">Для кого створена платформа?</h2>
                    <p class="section-text">
                        Якщо ти лише відкриваєш для себе світ волонтерства, Платформа стане компасом для пошуку можливостей та допоможе обрати волонтерство до душі. Тут ти можеш познайомитись з громадськими та благодійними організаціями, почитати про перші кроки у волонтерстві, знайти історії змінотворців твоєї країни та дізнатись про різні сфери волонтерської допомоги й подати заявку на проєкти, які тебе цікавлять.
                    </p>
                    <p class="section-text">
                        Якщо ти досвідчений волонтер, Платформа збільшить твій волонтерський стаж у цій сфері. Ти зможеш знайти можливості в міжнародних організаціях, познайомитись із новими напрямами та урізноманітнити свою волонтерську діяльність.
                    </p>
                    <p class="section-text">
                        Якщо ти шукаєш волонтерів для власного проєкту чи організації, Платформа допоможе знайти надійних та відповідальних людей, які поділятимуть твої цінності. Ти можеш зареєструвати як велику громадську чи благодійну організацію, так і локальний проєкт, волонтерську групу чи ініціативу й розповісти про вашу діяльність на власній сторінці. Якщо тобі потрібна допомога волонтерів, створюй власну можливість та знаходь помічників для змін у світі.
                    </p>
                </section>

             </div>
    
            <div class="contacts-container">
                <section class="contact-info">
                    <h2 class="section-title">Як з нами зв’язатися?</h2>
                    <p class="section-text">
                        📧 Email: <a href="mailto:handysupport@gmail.com">handysupport@gmail.com</a><br>
                        📍 Адреса: Львів, вул. Волонтерська, 12<br>
                        📞 Телефон: +380 (50) 123 45 67
                    </p>
                </section>

            </div>
    
            <div class="cont-container">
                <section class="support">
                    <h2 class="section-title-text">Як нас підтримати?</h2>
                    <p class="section-text">
                        Волонтерська Платформа функціонує за підтримки команди та волонтерів Української Волонтерської Служби й спільноти організації.
                    </p>
                    <p class="section-text">
                        Ти можеш пройти стажування в проєкті, допомагати з адмініструванням та поширенням інформації про Платформу, надіславши листа на електронну пошту <a href="mailto:handysupport@gmail.com">handysupport@gmail.com</a>.
                    </p>
                    <p class="section-text">
                        Якщо тобі подобається мета нашої діяльності й ти поділяєш наші цінності, кожен охочий має змогу підтримати проєкт та підписатись на щомісячний внесок у розмірі 5 або 10$. Ми будемо вдячні за підтримку та допомогу в розвитку волонтерського руху України.
                    </p>
                    <p class="section-text">
                        Ми завжди охоче приймаємо зворотний зв'язок. Якщо у тебе є поради чи пропозиції, пиши на пошту <a href="mailto:handysupport@gmail.com">handysupport@gmail.com</a> й ми неодмінно відреагуємо на твій коментар.
                    </p>
                </section>

            </div>
            
    
            <div class="contacts-container">
                <section class="social-share">
                    <h2 class="section-title">Поділитися у соцмережах</h2>
                    <div class="social-icons">
                        <a href="#" class="social-icon">📘 Facebook</a>
                        <a href="#" class="social-icon">✈ Telegram</a>
                        <a href="#" class="social-icon">🐦 Twitter</a>
                    </div>
                </section>

            </div>
            
    
        <!-- </div> -->
    
    </main>





    <footer class="footer">
        <div class="container">
            <div class="footer-container">
                <nav class="footer-nav">
                    <div class="footer-logo">
                        <div class="logo">HANDY</div>
                    </div>
                     <ul class="footer-menu">
                        <li><a class="footer-link" href="/index.html">Головна</a></li>
                        <li><a class="footer-link" href="eventList.html">Події</a></li>
                        <li><a class="footer-link" href="/about-us.html">Про нас</a></li>
                        <li><a class="footer-link" href="/contact.html">Контакти</a></li>
                     </ul>
                </nav>
                <address class="footer-address">
                    <ul class="adsress-list">
                        <li><a class="address-link" href="tel:+380960000007">+ 38 (096) 000 00 07</a></li>
                        <li><a class="address-link" href="mailto:handysupport@gmail.com">handysupport@gmail.com</a></li>
                    </ul>
                    <div class="address-info">
                        <a class="address-link" href="" target="_blank">Політика конфійдеційності</a>
                    <p class="address-copyright">
                        &copy; Дані захищено
                    </p>
                    </div>
                </address>

            </div>
        </div>
    </footer>
    <script src="../js/auth.js"></script>
</body>
</html>